{%extends "base_users.html"%}
{%block title%}
login
{%endblock%}
{%block content%}
<div class="register_container">
  <h1 class="text-primary font-bold text-2xl mb-2 max-md:text-xl">Sign Up</h1>
  <h3 class="max-md:text-sm max-sm:text-xs">Let's get you started! Enter your details to
    create your account.</h3>
  <br><br>
  <form action="" class="w-full flex flex-col">
    {% csrf_token %}

    <div>
      <label for="username" class="font-bold max-md:text-sm max-sm:text-xs">Username</label><br>
      <input class="input-field" type="text" id="username" name="username" placeholder="Enter your username" required>
    </div>

    <br>


    <div>
      <label for="oldpassword" class="font-bold max-md:text-sm max-sm:text-xs">Old Password</label><br>
      <input class="input-field" id="oldpassword" name="oldpassword" placeholder="Enter your old password" required>
    </div>

    <br>
    <div>
      <label for="newpassword" class="font-bold max-md:text-sm max-sm:text-xs">
        New Password</label><br>
      <input type="password" id="newpassword" class="input-field" name="newpassword"
        placeholder="Enter your new password" required>
    </div>

    <br>
    <div>
      <label for="newconfirm_password" class="font-bold max-md:text-sm max-sm:text-xs">
        Confirm New Password
      </label><br>

      <input type="password" id="newconfirm_password" name="newconfirm_password" class="input-field"
        placeholder="Confirm your password" required>
    </div>
    <br>
    <button type="submit" class="register_button ">Log in</button>

    <br><br>
  </form>
  <a href="{% url 'users:signup' %}" class="flex items-center w-full">
    <p class="text-sm  max-sm:text-xs">Create an account?</p>
    <p class="text-primary text-sm font-bold  max-sm:text-xs">sign up</p>
  </a>

</div>
{%endblock%}