{%load static%}
<header class="flex flex-row h-header items-center justify-between ">
  <div class="flex flex-row shrink-0">
    <img id="bar_icon" class="bar_icon" src="{% static 'notes/images/bar icon.svg' %}" alt="bar">
    <img class="logo" src="{% static 'notes/images/logo.png' %}" alt="logo">
  </div>

  <div class="flex flex-row items-center gap-x-15 max-md:gap-x-4  max-sm:gap-x-2">
    <!--search form-->
    <form action="" method="post" class="relative">
      <img src="{% static 'notes/images/search icon.svg' %}" alt="search" class="search_icon">
      <input type="text" name="search" placeholder="search for notes tags,title" class="search_input ">
    </form>

    <button class="signup">signup</button>
    <button class="login">login</button>
  </div>
</header>