@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

@theme {
  /*width and height costumazation*/
  --width-logo-fluid: clamp(4rem, 10vw, 10rem);
  --width-bar-fluid: clamp(1rem, 2vw, 2rem);
  --height-logo-fluid: clamp(1.25rem, 5vw, 2.5rem);
  --height-header: clamp(3.5rem, 7vh, 5rem);
  /*color costomazation*/
  --color-primary: #0836DD;
  --color-background: #F3F5FD;
  --color-surface: #F1F2F8;
  --color-surface-secondary: #7790EC;
  --font-roboto: "Roboto", sans-serif;
  --text-button-text: clamp(12px, 2vw, 18px);
  --text-sidebar: clamp(12px, 2vw, 16px);
}

/*header section*/
@layer components {
  .login {
    @apply rounded-lg bg-primary text-white font-bold text-sm px-6 py-2 max-md:text-sm max-sm:text-[10px] max-sm:px-3 max-sm:py-1;

  }

  .signup {
    @apply text-primary font-bold max-md:text-sm max-sm:text-[10px] p-0;
  }

  .search_input {
    @apply placeholder:text-sm pl-7 py-2 pr-8 focus:outline-none focus:ring-0 rounded-sm border border-black border-solid max-md:placeholder:text-sm text-sidebar max-sm:placeholder:text-[10px] max-md:py-1 max-md:pr-4 max-sm:pr-0 max-sm:w-[18ch];
  }

  .search_icon {
    @apply w-4 absolute left-2 top-3.5 max-md:w-3 max-md:top-3;
  }

  .bar_icon {
    @apply w-bar-fluid aspect-square shrink-0;
  }

  .logo {
    @apply w-logo-fluid h-logo-fluid shrink-0;
  }

}

/*sidebar*/
@layer components {
  .menu_componenet {
    @apply flex flex-row items-center justify-between py-3 px-1;
  }

  .tag_component {
    @apply flex items-center py-2 px-1;
  }

  .show_sidebar {
    @apply max-lg:block max-lg:fixed max-lg:top-15 max-lg:left-1 max-lg:bg-white max-lg:w-[50%] max-lg:h-full;
  }

  .hide_sidebar {
    @apply max-lg:hidden;
  }
}

/*actions*/
@layer components {
  .actions {
    @apply flex-1 bg-surface flex flex-col items-center max-sm:flex-row gap-5 pt-5 px-1 max-sm:mb-5 max-sm:gap-5;
  }

  .action_btn {
    @apply bg-primary text-button-text whitespace-nowrap flex items-center rounded-sm text-white px-1 w-30 py-2 mb-4 max-md:text-sm;
  }
}

/*created_note*/
@layer components {
  .created_note {
    @apply bg-background flex-6 h-fit rounded-xs px-3 py-4 flex flex-col gap-5;
  }

  .action-button {
    @apply flex items-center justify-between px-5 pb-5;
  }

  .btn-form {
    @apply text-white bg-primary px-4 py-1 rounded-sm;

  }

  .input_title {
    @apply w-full focus:outline-none focus:ring-0;
  }

  .input_tag {
    @apply focus:outline-none focus:ring-0 text-sm;
  }

  .input_note {
    @apply focus:outline-none focus:ring-0 w-full h-100 p-0 text-sm;
  }
}

/*login*/
@layer components {
  .register_container {
    @apply bg-surface flex items-center flex-col px-15 pb-15 py-10 rounded-md;
  }

  .input-field {
    @apply w-full bg-white px-2 py-2 focus:outline-none focus:ring-0 rounded-sm border max-md:text-sm max-sm:text-xs max-md:placeholder:text-sm max-sm:placeholder:text-xs;
  }

  .register_button {
    @apply bg-primary rounded-md text-white w-full py-2 max-md:text-sm max-sm:text-xs ;
  }
}